RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
#ErrorDocument 404 /404.html
#ErrorDocument 403 /403.html
AddDefaultCharset utf-8
Header always set Strict-Transport-Security "max-age=311040000; includeSubDomains"
Header always set X-Content-Type-Options "nosniff"
Header always set X-Frame-Options "SAMEORIGIN"
Header always set X-XSS-Protection "1"
<FilesMatch "\.(css|js)$">
    Header set Cache-Control "max-age=3600, private"
</FilesMatch>
<FilesMatch "\.(png|jpg|png|f3d|ico|svg|woff|woff2|eot|ttf)$">
    Header set Cache-Control "max-age=86400, private"
</FilesMatch>
